{% extends "base.html.twig" %}

{% block title %}
	Modification d'une annonce
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modification de la session
			{{ session.name }}</h1>
		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button type="submit" class="btn btn-primary">Enregistrer</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
